.container {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.menu-dropdown {
  position: absolute;
  top: 10px;
  left: 9%;
  background-color: white;
  border-color: 1px solid #ccc;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}
